@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}

img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}
:root{
    --main-color:#850097;
    --font-color:#222A41;
    --font-famiy:"JFFlatRegular";
    --sub-font-color:#6D7783;
}
.btn{
    line-height: 42px;
    height:60px;
    width:200px;
    border-radius: 40px;
    background-color: var(--main-color);
    border:1px solid var(--main-color);
    transition: all .5s;
    font-size:1.3333333333333333em;
    font-weight: bold;
    color:white;
}
.btn:hover{
    background-color: transparent;
    color:var(--main-color);
    transition: all .5s;;
}

p{
    font-size:1.2222222222222223em;
    color:var(--sub-font-color)

}
header{
    position:fixed;
    top: 0;
    width:100%;
    height: 90px;
    padding-top:50px;
    z-index: 9999999;
}
ul{
    padding:0;
    margin:0;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-famiy);
    color:var(--font-color);
overflow-x: hidden;
}
.hero{
    position: relative;
    overflow: hidden;
    padding-bottom: 200px;
    padding-top:150px;;
}
.heroBG{
position: absolute;
left: 0;
top: 0;
width:100%;
z-index: -1;
}
.heroImg{
    width:600px;
    height:600px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 40px 2px 80px  rgba(0, 0, 0, 0.5);
}
.navbar-brand.logo{
 float:none;
 width:90px;
 margin-left:80px;
 color:white;
 font-size:30px;
}

.navbar-expand-lg .navbar-nav{
    width:70%;
}

.navbar-expand-lg .navbar-nav .nav-item{
    padding:10px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    padding:0;
    color:var(--font-color);

}
.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link{
    color:var(--main-color);
    font-weight: bold;

}

.navbar {
    padding:0;
}
.navbar-expand-lg .navbar-nav{
    margin-top:10px;
}


.heroSection{
    padding-top:135px;
}
.heroText{
    margin-top:70px;;
}
.heroText h5{
    font-size :4.4em;
    color:var(--font-color);
    margin-bottom:20px;
}
.heroText span{
    font-size:1.7777777777777777em;
    color:var(--font-color);
    margin-bottom:20px;

}
.hireBtn{
    margin-top:40px;
}

.socialIcons{
    float:left
}
.socialIcons li{
    display: inline-block;
    width:42px;
    height:42px;
    border-radius: 50%;
    background-color:transparent;
    border:1px solid white;
    margin-right:15px;
    text-align: center;
    transition: all .5s;

}
.socialIcons li a{
    color:white;
line-height: 20px;
font-size:20px;
}
.socialIcons li:hover{
    background-color: white;
    transition: all .5s;
}
 .socialIcons li:hover i{
    color:var(--main-color);
}
.scrollNav .socialIcons li{
    border:1px solid var(--main-color)
}
.scrollNav .socialIcons li a{
    color:var(--main-color)
}
.socialIcons li i{
    line-height: 40px;;
}
.scrollNav .socialIcons li:hover{
    background-color: var(--main-color);
    transition: all .5s;
}
.scrollNav .socialIcons li:hover i{
    color:white;
}

.subscribeBox{
    display: flex;
}
 .subscribeBox  label{
    color:black;
    font-size:1.33em;
    display: inline-flex;
    align-self: center;
}
.subscribeBox .form-group{
    display: inline-flex;
}

.about{
    padding-bottom: 240px;
    padding-bottom:150px;
    position: relative;
}
.aboutBG{
    position: absolute;
    left:0;
    z-index: -1;
    width:100%;
}
.aboutImg{
    width:100%;
    height:400px;
    border-radius: 18px;
    box-shadow: 40px 2px 80px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.sectionTitle{
    margin-bottom:50px;
}

.sectionTitle h4 {
    margin-bottom:30px;
    font-size:4.4em;
    color:var(--font-color);
    margin-top:22px;

}
.sectionTitle  span{
    font-size:1.4444444444444444em;
}
.nav-pills{
    margin-bottom: 50px;;
}
.nav-pills .nav-link{
    font-size: 1em;
    color:var(--font-color);
    padding:0;
    padding-left:5px;
    margin-left:20px;
    padding-bottom:15px;
}
.nav-pills .nav-link.active{
    background-color: transparent;
    border-bottom: 3px solid var(--main-color);
    border-radius:0;
    color:var(--font-color);

}
.exp{
    padding-top:150px;
    padding-bottom: 160px;;
}
.exp .sectionTitle{
    margin-bottom: 100px;;
}
.expBox{
    border-radius: 18px;
    padding:80px 20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all .5s;;
margin-bottom: 20px;;
}
.expBox:hover{
    margin-top:-50px;
    transition: all .5s;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
}
.expIcon{
    margin:auto;
    margin-bottom:30px;
    width:100px;
}
.expBox h3{
    font-size:1.3em;
    color:var(--font-color);
    margin-bottom: 30px;;
}
.work{
    background-color: var(--main-color);
    padding-top:200px;
}
.work .sectionTitle span,.work .sectionTitle h4 ,.work .sectionTitle p{
    color:white;
}
#galleryTabs{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
#galleryTabs li {
    display: inline-block;
    margin: 0px 10px;
    transition: all 0.3s ease-in-out;}
#galleryTabs li a{
display: block;
padding-left:5px;
padding-bottom:10px;
font-size: 14px;
color: #fff;

cursor: pointer;
}
#galleryTabs li a.active {
border-bottom: 3px solid white;
}
#galleryFilter{
width:100%;
}
.galleryItem{
    width:33.333%;
    display: inline-block;
    height:400px;
    overflow: hidden;
    transition: all .5s;
    position: relative;
}
.galleryItem figure img{
    height:100%;
}
.galleryItem:hover{
    transform: scale(1.1);
    transition: all .5s;;
    z-index: 1;
}

figcaption{
    position: absolute;
    background-color: var(--main-color);
    left:0;
    right:0;
    bottom:0;
    display: none;
    padding:20px;
    transition: all .5s;;
    width:100%;
    height:30%;
}
figcaption a{
    color:white;
    text-align: right;
}

figcaption p{
    font-size:1.3em;
    display: block;
    color:white;
}
figcaption span{
    margin-top:10px;
    font-size:.7em;
    display: block;
    color:white
}
figure:hover figcaption{
    display: block;
    transition: all .5s;;}



.contactUs{
    padding:150px 0;
    position: relative;
}
.contactForm {
    border-radius: 18px;
    box-shadow: 0 20px 60px rgba(0,0,0,.2);
    padding:100px 50px;
    text-align: right;
    background-color: white;
}
.contactForm .form-group{
    margin-bottom:70px;
}
.contactForm .form-control{
    background-color:transparent;
    border-radius: 0;
    height:40px;
    font-size: 1.2222222222222223em;
    border:0;
    border-bottom: 1px solid #AEB7C1;;
    
}
.contactForm .form-control::placeholder{
    font-size: 1.2222222222222223em;
    color:var(--sub-font-color);
}
.contactForm textarea.form-control{
    height:170px;
    resize: none;
}
.sendBtn{

    font-size:1.2222222222222223em;
    transition: all .5s;;
    margin:auto;
    margin-top:50px;
    display: block;

    
}
.contactUs h5{
    font-size:1.8em;
    color:var(--font-color);
    margin-bottom:13px;
    font-weight: bold;
    margin-bottom: 15px;;
}
.contactUs p{
    color:var(--font-color);
    font-size:1.2em;
    margin-bottom: 32px;;
}

footer{
    padding:20px 0;
}
.footerMenu{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;

}
.footerMenu li a{
    font-size:.8em;
    color:var(--font-color);
}
.footerMenu li a:hover{
    color:var(--main-color)
}
.footerMenu li{
    display: inline-block;
    margin:0px 20;
}
.copyRights{
    padding:20px 0;
    margin-top:20px;
    text-align: center;
}
.contactForm p{
    font-size:1.6111111111111112em;
    color:var(--font-color);
    margin-bottom:70px;
    text-align: center;
}
.copyRights h3{
    font-size:.8888em;
    color:rgba(37, 37, 37, .5)
}
footer .socialIcons{
    float:none
}
.footersocial{
    margin:auto;
    text-align: center;

}
.footersocial li{
    background-color: var(--main-color);
    text-align: center;
}
.footersocial li a{
    color:white;
}

.scrollNav {
    top: 0 !important;
    z-index: 999999999999;
    animation-duration: .5s;
     background-color: white;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    padding:10px 0;
    transition: all .5s;;
    animation:sticky;
    height:120px;
    padding-top:20px;
}
.scrollNav .navbar-brand.logo{
    width:65px;
}
.carouselImg{
    border-radius: 18px;
    overflow: hidden;
    box-shadow:  40px 2px  80px rgba(0, 0, 0, 0.5);}
.counterSec{
    text-align: center;
    margin-top:50px;

}
.carousel-indicators{
    right:21%;
    bottom: -3%;
}
.carousel-indicators li{
width:80px;
height:11px;
background-color:#DBDBDB ;
}
.carousel-indicators .active{
    background-color: var(--main-color);
}
.clients{
    padding:200px 0 150px;
    position: relative;
}
.clientsBG{
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    z-index: -1;
    top:-50%;
}
.carousel-inner{
    margin-top:120px;
    padding:50px;
}
.carousel-inner i{
    color:var(--main-color);
    margin-bottom: 80px;
    font-size:80px;
}
.carousel-inner p{
    font-size:18px;
    color:var(--font-color);
    height:250px;
    max-height:250px;
}

.carousel-item{
    margin-right: 50px;
}


@media(min-width:300px) and (max-width:767px){
    .navbar-expand-lg .navbar-nav{
        width:100%;
    }
    body{
        font-size:12px
    }
    .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
.navbar-brand.logo{
    margin-left:0;
    color:var(--main-color)
}


    .hero{
        padding:20px 0;
    }
header{
    padding-top:0;
    height: auto;
    left:0;
    right:0;
}
.scrollNav{
    height: auto;
}

    .navbar-expand-lg .navbar-nav .nav-link:before{
        display:none;
    }

    .contactForm{
        margin-top:50px;
    }
.startIcon:before{
    display: none;
}
   footer{
       padding:20px 0;
   }
    .socialIcons{
      float: none;
    }

    .socialIcons li{
        float: none;
    }
    .requestBtn{
        width:100%;
    }
    .heroText{
        margin-top: 0px;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid var(--main-color);
        text-align: center;
    }
    .mobileMenu i{
        background-color: var(--main-color);
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
.heroBG{
    display: none;
}
    .navbar{
        width:100%;
        margin-bottom:20px;
    }
    .nav-link{
        margin-bottom:10px;
        margin-top:10px;
    }
    .navbar{
        width:100%;
        margin-top:20px;
    }
.contactUs {
    padding: 50px 0;}
.aboutImg{
    height: auto;
    margin: 10px auto;
}
.heroImg{
    width:100%;
    height:auto;
    margin:20px auto;
}
.exp {
    padding:50px 0;
}
.about{
    padding:50px 0;
}
.btn{
    width: 100%;;
}
.work{
    padding-top:50px;
}
.galleryItem{
    width:100% !important;
}
.clients{
    padding:50px 0;
}
.carousel-inner{
    margin-top:20px;
    padding:0;
}
.carousel-inner i{
    margin:10px 0;
}
.clientsBG{
    display: none;
}
.carousel-indicators{
    left:0;
    right:0;
    bottom:-10%;
}
.footerMenu li{
    margin:0 10px;
}
.galleryItem:hover{
transform: none;}
.carousel-inner p{
    height: auto;
    max-height: auto;;
}
.navbar-collapse{
    background-color: white;
    width:100%;
    ;
}
}
@media(min-width:768px) and (max-width:1023px){
    .navbar-expand-lg .navbar-nav{
        width:auto;
    }
    body{
        font-size:14px
    }

.galleryItem {
    width:50%;
}
footer{
    padding:20px 0;
}


    .hero{
        padding:20px 0;
    }
  
    .socialIcons{
        text-align: center;
    }
    .socialIcons li{
        float: none;
        width:30px;
        height:30px;
    }
    .socialIcons li a {
        font-size: 14px;;
    }
    .socialIcons li i{
        line-height:24px;
    }
    .heroText{
        margin-top: 20px;
    }

    .navbar-expand-lg .navbar-collapse{
        display: flex;
        flex-basis: auto;
         }
        .navbar-toggler{
        
            display: none;
         } 
    .navbar{
        width:100%;
        margin-top:20px;
    }
    .heroSection{
        padding-top: 50px;;
    }
   
.contactUs {
    padding: 50px 0;}

         .navbar-nav {
            display: -ms-flexbox;
            display: flex;}
            .navbar-expand-lg .navbar-nav {
                -ms-flex-direction: row;
                flex-direction: row;
            }
            .navbar-brand.logo{
                margin-left:0;
                color:var(--main-color)
            }
            .subscribeBox .form-control{
                width:150px;
                margin:0 5px;
            }
            .subscribeBox .subscribeBtn{
                width:100px;
            }
header{
    padding-top:0;
}
.navbar-brand.logo{
    width:50px;
    margin-left:50px;
}
.scrollNav .navbar-brand.logo{
    width:50px;
}
.scrollNav{
    padding:10px 0;
    height: 90px;
    padding-top: 0;;
}
.aboutImg{
    height: auto;;
}
.about{
    padding:20px 0;
}
.exp{
    padding:20px 0
}
.work{
    padding-top:50px ;
}
.clients{
    padding:50px 0;
}
.carousel-inner i{
    margin-bottom:20px;
}
.carousel-inner{
    margin-top:50px;
}
.sectionTitle h4{
    font-size: 3em;
}
.sectionTitle{
    margin-bottom:10px;
}
        }

@media(max-width:1200px){
.galleryItem {
    width:50%;
}
}